@use 'variables' as v;
@use 'placeholders';
@use 'mixins' as mix;
@use 'sass:color';

.hero {
    position: relative;
    max-width: 1260px;
    height: 830px;
    margin: 0 auto;
    padding: 140px 0 0 0;
    background: url('/assets/cloud1.png') center/contain no-repeat;

    &__content {
        position: relative;
        width: 900px;
        margin: 0 auto;

        .hero__title {
            @include mix.font(120px, 700, v.$color-black);
            line-height: 1;
        }

        .hero__action-btn {
            width: 380px;
            height: 80px;
            border-radius: 90px;
            position: absolute;
            background-color: v.$color-black;
            bottom: 20px;
            right: -35px;
            @include mix.font(28px, 500, v.$text-white-color);
            border: none;

            @extend %hover;

            &:focus {
                outline: none;
            }

            &:focus-visible {
                outline: 2px solid v.$text-white-color;
                scale: 1.02;
            }
        }

        @media (max-width: v.$media_lg) {
            // ограничение опираются на следующий брейкпоинт
            width: 100%;
            max-width: 700px;
            height: 500px;

            .hero__title {
                @include mix.font(110px, 700, v.$color-black);

            }

            .hero__action-btn {
                @include mix.position(absolute, 1, -1, bottom, left, 0, -15px);
            }


        }

        @media (max-width: v.$media_md) {
            // ограничение опираются на следующий брейкпоинт
            width: 100%;
            max-width: 560px;
            height: 400px;

            .hero__title {
                @include mix.font(100px, 700, v.$color-black);

            }

            .hero__action-btn {
                width: 260px;
                height: 60px;
                @include mix.font(18px, 400, v.$text-white-color);
            }


        }
    }

    &__notify {
        position: relative;
        margin: 170px auto 0;
        width: 680px;
        height: 60px;
        background-color: color.adjust(v.$text-white-color, $alpha: -0.90);
        border-radius: 20px;
        @include mix.display-flex(end, center, nowrap, row, 10px);

        &-img {
            @include mix.position(absolute, 1, -1, top, left, -82px, -35px);
        }

        &-content {
            width: 450px;
            height: 100%;
            @include mix.display-flex(center, center, nowrap);
            @include mix.font(14px, 400, v.$color-black);
            border-right: 1px solid v.$text-white-color;
            line-height: 0.95;
        }

        &-btn {
            width: 115px;
            background: none;
            border: none;
            @extend %hover-light;
            @include mix.font(25px, 400, v.$color-black);
            text-transform: uppercase;

            &:focus {
                outline: none;
            }

            &:focus-visible {
                outline: 2px solid v.$text-white-color;
                scale: 1.02;
            }

        }

         @media (max-width: v.$media_md) {
            width: 100%;
            max-width: 450px;
            height: fit-content;
            margin: 140px auto 0;
            @include mix.display-flex(start, center, nowrap, column, 0, 0);


             &-content {
            width: 100%;
            padding: 15px 10px 15px 90px;
            @include mix.display-flex(center, center, nowrap);
            @include mix.font(14px, 400, v.$color-black);
            border-right: none;
            border-bottom: 1px solid v.$text-white-color;
            line-height: 0.95;
            }

            &-btn {
                @include mix.font(30px, 400, v.$color-black);
                padding: 15px 0;
            }
         }

    }

    &__scroll {
        @include mix.position(absolute, 1, -1, bottom, left, 200px, 10px);

        &-text {
            position: relative;
            @include mix.font(16px, 500, v.$text-white-color);
            writing-mode: vertical-rl;
            cursor: pointer;

            &::after {
                @include mix.position(absolute, 1, -1, top, left, 100px, 7px);
                content: "";
                display: block;
                background-color: v.$text-white-color;
                height: 75px;
                width: 1px;
            }
        }

        @media (max-width: v.$media_lg) {
            @include mix.position(absolute, 1, -1, bottom, left, 30px, 10px);
            
        }

        @media (max-width: v.$media_md) {
            @include mix.position(absolute, 1, -1, bottom, left, 160px, 20px);

             &::after {
                @include mix.position(absolute, 1, -1, top, left, 100px, 7px);
                content: "";
                display: block;
                background-color: v.$text-white-color;
                height: 105px;
                width: 1px;
            }
            
        }

    }

    @media (max-width: v.$media_md) {
        
        padding: 110px 15px 0;
        background: url('/assets/cloud1.png') 0 25%/contain no-repeat;
    }

}