@use 'variables' as v;
@use 'mixins' as mix;
@use 'sass:color';


.work-section {
    padding: 0 20px 180px;

     @media (max-width: v.$media_lg) {
       margin-top: 130px;
     }

     @media (max-width: v.$media_md) {
        margin-top: 40px;
     }


    .work {
        margin: 0 auto;
        text-align: center;


        &__title {
            margin: 0 0 80px 0;
            @include mix.font(60px, 400, v.$text-white-color);

            @media (max-width: v.$media_md) {
            
                display: none;
            }
        }

        &__cards-wrapper {
            margin: 0 auto;
            max-width: 950px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 65px;
            // justify-items: center;
            // align-items: center;
            place-items: center center;
            grid-template-areas:
                "analysis design dev"
                "maintenance testing integration";

            .card--analysis {
                grid-area: analysis;
                justify-self: start;
            }

            .card--maintance {
                grid-area: maintenance;
                justify-self: start;
            }

            .card--development {
                grid-area: dev;
                justify-self: end;
            }

            .card--integration {
                grid-area: integration;
                justify-self: end;
            }

            .card--design {
                grid-area: design;
            }

            .card--testing {
                grid-area: testing;
            }

            .icon--filler {
                width: 44px;
                height: 41px;
            }

            @media (max-width: v.$media_md) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas:
                    "analysis design"
                    "dev maintenance"
                    "testing integration";

                .card--analysis {

                    justify-self: center;
                }

                .card--maintance {

                    justify-self: center;
                }

                .card--development {

                    justify-self: center;
                }

                .card--integration {

                    justify-self: center;
                }

                .card--design {

                    justify-self: center;
                }

                .card--testing {

                    justify-self: center;
                }


            }


        }

        
    }

}